{% extends 'student_base.html' %}


{% block body_block %}
{% load static %}
<style>
    .tick i {
        color: green;
        font-size: 1.5em;
    }
    
    .cross i {
        color: red;
        font-size: 1.5em;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="container-fluid">
    <div class="row">
        <div class="main-header">
            <h4>Online Exam </h4>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card" style="padding: 10px;border-top: 5px solid black;">
            
            <div class="table-responsive">
                <table id="tableID" class="display"  >
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Question paper name</th>
                            <th>Total mark:</th>
                            <th>Pass mark:</th>
                            <th>Duration:</th>
                            <th>Exam Starting Time:</th>
                            <th>Time</th>
                            <th>AnyTime</th>                            
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in question_records %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{data.enrollment.question_paper.question_paper_name}}</td>
                            
                            <td>{{data.enrollment.question_paper.total_mark}}</td>
                            <td>{{data.enrollment.question_paper.pass_mark}}</td>
                            <td>{{data.enrollment.question_paper.duration}}</td> 
                                   
                           
                          
                            <td >{{ data.enrollment.exam_date   }}</td> 
                            <td >{{ data.enrollment.start_time   }}</td>     
                            <td>
                                {% if data.enrollment.any_time %}
                                    <span class="tick"><i class="fas fa-check"></i></span> <!-- Font Awesome Check -->
                                {% else %}
                                    <span class="cross"><i class="fas fa-times"></i></span> <!-- Font Awesome Cross -->
                                {% endif %}
                            </td>           
                            <td>        
                                {% if data.enrollment.any_time  == True  %}                   
                              <a href="{% url 'time_check' data.id %}">
                                <button type="button" class="btn btn-primary" data-toggle="tooltip" title="Enroll" style="color: black;">
                                    <i class="fas fa-clipboard"></i> Start Exam
                                </button> 
                            </a>
                            
                            
                            {% elif data.enrollment.exam_date == current_date %}
                            <a href="{% url 'time_check' data.id %}">
                                <button 
                                    type="button" 
                                    class="btn btn-primary"   
                                                                      
                                    style="color: black;"  >
                                    <i class="fas fa-clipboard"></i> Start Exam
                                </button>
                            </a>   
                            {% else %}                        
                            
                            {% endif %}
                               </td>
                        </tr>
                        {% endfor %}
                      
                    </tbody>
            
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block script_block %}

{% endblock %}