{% extends 'student_base.html' %}


{% block body_block %}
{% load static %} 
<div class="container-fluid">
    <div class="row">
        <div class="main-header">
            <h4>Student Meeting</h4>
        </div>
    </div>
    
<br>
<br>
 <div class="tab-content">
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="home-tab">
        <div class="card " >
            <form method="post">
                {% csrf_token %}
            <div class="card-body">
                <div class="table-responsive around10 pt0">
                    
                    <table class="table table-hover  tmb0">
                        <tbody>
                            <tr>
                                <td >Title</td>
                                <td >
                                    {{record.class_title}}</td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td>{{record.description}}</td>
                            </tr>
                            <tr>
                                <td>Date Time</td>
                                <td>{{record.class_date_time}}
                                </td>
                            </tr>
                            <tr>
                                <td>Start Time </td>
                                <td> {{record.start_time}}</td>
                            </tr>
                            <tr>
                                <td>End Time </td>
                                <td> {{record.end_time}}</td>
                            </tr>
                            <tr>
                                <td>class</td>
                                <td> {{record.Class.Class}} </td>
                            </tr>
                            <tr>
                                <td>section</td>
                                <td>{% for staff in record.section.all %}
                                    {{ staff.section_name }}                                  
                                    {% endfor %}</td>
                            </tr>
                          
                         
                            <tr>
                                <td>staff</td>                       
                                <td>
                                    {{ record.staff.first_name }}                                  
                                  
                                </td>
                            </tr>
                            <tr>
                                <td>Created By</td>                       
                                <td>
                                    {{ record.created_by }}                                  
                                  
                                </td>
                                <input type="hidden"  {{ record.id }} name="meeting_link" >
                              
                            </tr>
                            <td><input type="hidden" name="attendance_date1" ></td>
                            {{ record.id }} 
                            <tr>
                                <td>Meeting url</td>

                              <td>  <button class="btn" onclick="youtube_btn()" type="submit" name="meeting_url" value="{{ record.id }} "
                                style="background-color: rgb(252, 45, 45); color: white;">
                                <i class="bi bi-youtube"></i> Click to join the meeting</button>
                              </td>

                                {% comment %} <td><a href="{{record.meeting_url}}" target="_blank" target="_blank" ><button type="button" class="btn btn-success"><i class='fa fa-video'></i>Click to join the meeting</button></a></td> {% endcomment %}
                           
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div> 
        </form>     
        </div>

    </div>




</div>

<script>
    function youtube_btn() {
      $('btn_form').submit();
      $('#meeting_url').val('meeting_url');
      window.open('{{record.meeting_url}}', '_blank');
    }
  </script>

{% endblock %}

{% block script_block %}

{% endblock  %}