    .content-wrapper {
        padding: 20px;
    }

    .card {
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: none;
    }

    .card h2 {
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        font-weight: 600;
        margin-bottom: 5px;
    }

    .form-control {
        border-radius: 5px;
        padding: 10px;
        font-size: 1rem;
        border: 1px solid #ccc;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        padding: 10px 20px;
        font-size: 1rem;
        border-radius: 5px;
        font-weight: bold;
    }

    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
        padding: 10px 20px;
        font-size: 1rem;
        border-radius: 5px;
        font-weight: bold;
    }

    .btn {
        margin-right: 10px;
    }

    .readonly-field {
        background-color: #f8f9fa;
        border: 1px solid #e9ecef;
        color: #6c757d;
    }

.own-card{
    border:2px solid white;
    margin-top:10px;
}

.row div a:hover, a:visited {
        text-decoration: none; /* Remove underline on hover and after visit */
        color: darkblue; /* Change color on hover and after visit (optional) */
    }