{% extends 'base copy.html' %}
{% block body_block %}
{% load static %}
{% load custom_filter %}

<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="card card-body">
                <h3 class="card-title">{{screen_name}}</h3>
                <div class="table-responsive">
                        <table id="tableID" class="display table table-hover">
                             <thead class="bg-col">
                                    <tr>
                                        <th>Date</th>
                                        <th>Amount</th>
                                        <th>Running balance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for data in records %}
                                    <tr>
                                        <td>{{data.date}}</td>
                                        <td>{{data.amount}}</td>
                                        <td>{{data.balance}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                </table>
                            </div>
                            <br><br><br>

            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}