{% extends 'base copy.html' %}
{% block body_block %}
{% load static %}
{% load custom_filter %}

<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="card card-body">
                <h3 class="card-title">{{screen_name}}</h3>
                <div class="table-responsive">
                        <table id="tableID" class="display table table-hover">
                             <thead class="bg-col">
                                    <tr>
                                        <th>Gl Line</th>
                                        <th>Account Name</th>
                                        <th>January</th>
                                        <th>February</th>
                                        <th>March</th>
                                        <th>April</th>
                                        <th>May</th>
                                        <th>June</th>
                                        <th>July</th>
                                        <th>August</th>
                                        <th>September</th>
                                        <th>October</th>
                                        <th>November</th>
                                        <th>December</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for data in records %}
                                    <tr>
                                        <td>{{data.gl_code}}</td>
                                        <td>{{data.account_name}}</td>
                                        <td>{{data.January}}</td>
                                        <td>{{data.February}}</td>
                                        <td>{{data.March}}</td>
                                        <td>{{data.April}}</td>
                                        <td>{{data.May}}</td>
                                        <td>{{data.June}}</td>
                                        <td>{{data.July}}</td>
                                        <td>{{data.August}}</td>
                                        <td>{{data.September}}</td>
                                        <td>{{data.October}}</td>
                                        <td>{{data.November}}</td>
                                        <td>{{data.December}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                </table>
                            </div>
                            <br><br><br>

            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}